---
layout: default
title: Linbo的博客
---

<div id="home">
        {% for post in paginator.posts %}
        {% unless post.title contains "Weekly" %}
        <div class="item">
            <span class="pubdate">
                {{ post.date | date: "%Y-%m-%d" }}
            </span>
            <span class="pubtitle">
                <a href="{{ post.url }}">
                    {{ post.title }}
                </a>
            </span>
        </div>
        {% endunless %}
        {% endfor %}


<div id="post-pagination" class="pagination">

  {% if paginator.previous_page %}
  <p class="previous">
    {% if paginator.previous_page == 1 %}
    <a href="/">前一页</a>
    {% else %}
    <a href="/page{{paginator.previous_page}}/">前一页</a>
    {% endif %}
  </p>
  {% else %}
  <p class="previous disabled">
    <span>前一页</span>
  </p>
  {% endif %}

  {% if paginator.next_page %}
  <p class="next">
    <a href="/page{{paginator.next_page}}/">后一页</a>
  </p>
  {% else %}
  <p class="next disabled">
    <span>后一页</span>
  </p>
  {% endif %}

</div>
</div>

