---
layout: default
title: Linbo的Weekly
---

<div id="home">
        <div class="item">
            <span class="pubdate">
                2013-04-28
            </span>
            <span class="pubtitle">
                <a href="http://linbo.github.io/2013/04/28/why-weekly/">
                  分享，与君共勉  
                </a>
            </span>
        </div>
        {% for post in site.posts %}
        {% if post.title contains "Weekly" %}
        <div class="item">
            <span class="pubdate">
                {{ post.date | date: "%Y-%m-%d" }}
            </span>
            <span class="pubtitle">
                <a href="{{ post.url }}">
                    {{ post.title }}
                </a>
            </span>
        </div>
        {% endif %}
        {% endfor %}
</div>
